@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Irish+Grover&family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Irish Grover", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}